* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


/* DISTRIBUCIÓN DE ESPACIOS PRINCIPALES A TODAS LAS PAGINAS CON GRID */

.bodyIndex {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 145px 300px 1000px 50px 225px;
    
}

.bodyHistoria {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 145px 300px 1000px 50px 225px;
    
}

.bodyProductos {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 145px 300px 700px 50px 225px;
    
}

.bodyHierbas {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 145px 300px 900px 50px 225px;
    
}

.bodyContacto {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 145px 500px 50px 225px;
    
}

/* FIN DISTRIBUCIÓN DE ESPACIOS PRINCIPALES A TODAS LAS PAGINAS CON GRID */


/* HEADER */

header {
    width: 100%;
    height: 145px;
    margin-top: 0;
    background : rgb(218, 235, 211);
    display: flex;
    animation-name: headerLoco;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: infinite;

}

@keyframes headerLoco {
    0% {background: rgb(218, 235, 211);}
    25% {background: gray;}
    50% {background: coral;}
    75% {background: black;}
    100% {background: sienna;}
    
}


 /*Logotipo y su nombre */

.logo {
    width: 40%;
    height: 145px;
    padding-right: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    

}

.imagenLogo {
    width: 100px;
    height: 100px;

}

.logoTitulo {
    font-family: 'Alumni Sans Inline One', cursive;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Karla', sans-serif;
    font: 400;
}

/* nav links de navegacion */

nav {
    width: 60%;
    height: 145px;
}

nav ul {
    width: 100%;
    height: 145px;
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    font-family: 'Alumni Sans Inline One', cursive;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    list-style: none;

}

nav ul li a{
    text-decoration: none;
}

/* FIN HEADER */


/* BOTON PARA SUBIR */

.botonParriba {
    width: 90px;
    height: 80px;
    position: fixed;
    z-index: 3;
    right: 2%;
    bottom: 6%;
    animation: backInDown; 
    animation-duration: 2s;     
}

/* FIN BOTON DE SUBIR */



/* FOOTER */

footer {
    display: grid;
    grid-template-rows: 200px 25px;
    font-family: 'Alumni Sans Inline One', cursive;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    background-color: rgb(195, 214, 114);
}

.cosasFooter {
    display: grid;
    grid-template-columns: 50% 50%;
   
}

.footerAuspiciantes {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.footerAuspiciantesLogos {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.footerAuspiciantesTit {
    margin-bottom: 30px;
}

.logosRobados {
    width: 70px;
    height: 70px;
}

.footerRedes {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.footerRedes ul {
    list-style: none;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
       
}

.footerRedes ul li{
    margin: 7%;
}

footer div {
    /*margin: 10px;*/
    text-align: center;
    text-transform:capitalize;
}


/*FIN FOOTER */


/* PÁGINA INDEX */

/* IMAGEN PRINCIPAL INDEX*/
 
.imagenIndex {
    background-image: url(../imágenes/Mate1.jpg);
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-rows: 30% 70%;
    font-family: 'Alumni Sans Inline One', cursive;
    font-family: 'Josefin Sans', sans-serif;
    
}

.imagenIndex .buscador {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.bodyIndex .buscador form input {
    width: 300px;
}

.imagenIndex .titulos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: aliceblue;
}

.titulos_1 {
    position: relative;
    left: -15%;
}

.titulos_3 {
    position: relative;
    right: -5%;
}

/* CONTENIDO DE PAGINA INDEX */

/* ¿Quiénes somos? */

.contenidoIndex {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Alumni Sans Inline One', cursive;
    font-family: 'Josefin Sans', sans-serif;
    
}


.quienesSomos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;

}

.quienesSomos h1 {
    font-size: 40px;
}

.quienesSomos p {
    width: 85%;
    font-size: 30px;
    text-align: center;
   
}

/* Atajos a Productos */

.atajoProductos {
    width: 90%;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 260px 50px;
    grid-template-areas: 
    "coso1 coso2 coso3"
    "coso4 coso4 coso4" ;
    text-align: center;
}


.atajoAProd1 {
    grid-area: coso1;
}

.atajoAProd2 {
    grid-area: coso2;
}

.atajoAProd3 {
    grid-area: coso3;
}

.verMasProductos {
    grid-area: coso4;
    
}

.verMasProductos button {
    width: 320px;
    height: 50px;
    margin-top: 40px;
    font-size: 20px;
    text-transform: uppercase;
}
.verMasProductos button a {
    text-decoration: none;
}

.atajoAProd1 a img {
    margin: 15px;
    border-style:double;
    border-color: green;
}

.atajoAProd1 h2 {
    gap: 15px;
}
.atajoAProd2 a img {
    margin: 15px;
    border-style:double;
    border-color: green;

}
.atajoAProd2 h2 {
    gap: 15px;
}
.atajoAProd3 a img {
    margin: 15px;
    border-style:double;
    border-color: green;

}
.atajoAProd3 h2 {
    gap: 15px;
}

 /* Video yutu de mates INDEX */


.yutu {
    margin-top: 100px;
}

/* FIN PAGINA INDEX */



/* PAGINA HISTORIA */

/* Imagen principal HISTORIA */

.imagenHistoria {
    width: 100%;
    height: 300px;
    background-image: url(../imágenes/molina-campos-mate.jpg);
    background-position: center;
    background-size: cover;
    font-family: 'Alumni Sans Inline One', cursive;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imagenHistoria h1 {
    width: 600px;
    height: 40px;
    background-color: rgba(201, 211, 197, 0.849);
    text-transform: uppercase;
    color: black;
    text-align: center; 
    border-style: solid;
    border-color: bisque;
    padding-top: 5px;  
}

/* Contenido HISTORIA */

.contenidoHistoria {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    /*margin-top: 50px;*/
    font-family: 'Alumni Sans Inline One', cursive;
    font-family: 'Josefin Sans', sans-serif;
    
}

.contenidoHistoria article {
    width: 90%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.contenidoHistoria article .Parr1 {
    height: 135px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.contenidoHistoria article .Parr2 {
    height: 98px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.contenidoHistoria article .Parr3 {
    height: 219px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.p1 {
    font-size: 17px;  
    
}

.contenidoHistoria section {
    width: 500px;
    height: 270px;
    display: flex; 
    flex-direction: column;
    justify-content: space-around; 
    align-items: center;
    text-align: center;
}

.contenidoHistoria section button {
    width: 320px;
    height: 50px;
    margin-top: 20px;
    font-size: 20px;
    text-transform: uppercase;
    
}

.contenidoHistoria section button a {
    text-decoration: none;
}

/* FIN PAGINA HISTORIA */



/* PAGINA PRODUCTOS */ 

/* Imagen Principal Productos */

.imagenProductos {
    width: 100%;
    height: 300px;
    background-image: url(../imágenes/mate-paisaje.jpg);
    background-position: center;
    background-size: cover;
    font-family: 'Alumni Sans Inline One', cursive;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imagenProductos h1 {
    width: 300px;
    height: 40px;
    background-color: rgba(201, 211, 197, 0.849);
    text-transform: uppercase;
    color: black;
    text-align: center; 
    border-style: solid;
    border-color: bisque;
    padding-top: 5px;  
}

/* Contenido Productos */

.contenidoProductos {
    width: 90%;
    margin-left: 9%;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: 300px 300px;
    gap: 3rem;
}

.contenidoProductos div {
    width: 310px;
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Alumni Sans Inline One', cursive;
    font-family: 'Josefin Sans', sans-serif;
}


.contenidoProductos div img {
    border-style:double;
    border-color: green;
}
.contenidoProductos div button {
    width: 135px;
    height: 25px;
}

.contenidoProductos div button a {
    text-decoration: none;
}

/* FIN PAGINA PRODUCTOS */


/* PAGINA HIERBAS */

/* Imagen Principal Hierbas */

.imagenHierbas {
    width: 100%;
    height: 300px;
    background-image: url(../imágenes/hierba-para-mate.png);
    background-position: center;
    background-size: cover;
    font-family: 'Alumni Sans Inline One', cursive;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imagenHierbas h1 {
    width: 270px;
    height: 40px;
    background-color: rgba(201, 211, 197, 0.849);
    text-transform: uppercase;
    color: black;
    text-align: center; 
    border-style: solid;
    border-color: bisque;
    padding-top: 5px;  
}

/* Contenido Hierbas */

.contenidoHierbas {
    width: 85%;
    height: 900px;
    margin-left: 9%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Alumni Sans Inline One', cursive;
    font-family: 'Josefin Sans', sans-serif;
       
}

.Hierbas2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.Hierbas3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}
.contenidoHierbas section {
    width: 390px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contenidoHierbas section button {
    width: 320px;
    height: 50px;
    margin-top: 20px;
    font-size: 20px;
    text-transform: uppercase;
    
}

.contenidoHierbas section button a {
    text-decoration: none;
}

/* FIN PAGINA HIERBAS */


/* PAGINA CONTACTO */

 /* Imagen principal contactos */ 

 /*Seccion. Parte donde se colocan los datos de cliente*/

.imagenContacto {
    width: 100%;
    height: 500px;
    background-image: url(../imágenes/mate-chill.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
   
}

.recuadritoBlanco {
    width: 550px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 130px;
    padding: 10px;
    background-color: rgba(240, 255, 255, 0.5);
    border: solid 2px aliceblue;
    font-family: 'Alumni Sans Inline One', cursive;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;

}

.titulosContactos {
    text-align: center;
    
}

.titulosContactos h2 {
    margin-top: 12px;
    font-size: 17px;
}

.camposContactosNomAp form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.camposContactosEmail form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.camposContactosConfEmail form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.camposContactosTelef form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.camposContactosMensaje form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.campitos {
    width: 50%;
    margin-right: 30px;
}


.campitoMensaje {
    width: 50%;
    margin-right: 30px;

}

.recuadritoBlanco button {
    width: 60%;
    font-family: 'Alumni Sans Inline One', cursive;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    height: 30px;
    margin-left: 20%;
}

.recuadritoBlanco button a {
    text-decoration: none;
    font-size: 17px;
}


/* FIN PÁGINA CONTACTOS */

header i {
    display: none;
}


/* MEDIA QUERIES MOBILE */
   

@media screen and (max-width: 600px) {
    
    
    .bodyIndex {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 120px 300px 1600px 50px 325px;
        
    }

    .bodyHistoria {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 120px 300px 1150px 50px 225px;
        
    }

    .bodyProductos {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 120px 300px 2500px 50px 225px;
        
    }

    .bodyHierbas {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 120px 300px 1100px 50px 225px;
        
    }
    .bodyContacto {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 120px 500px 50px 225px;
        
    }

    /* HEADER */

    header {
        height: 120px;
    }

    .logo {
        width: 60%;
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

    }
    .imagenLogo {
        width: 60px;
        height: 60px;
    }
    .logoTitulo {
        font-size: 20px;
    }

    header i {
        width: 40px;
        height: 30px;
        position: relative;
        top: 40%;
        left: 20%;
    }
    
    nav {
        display: none;
        
    }
   
    /* FOOTER */

    footer {
        display: grid;
        grid-template-rows: 300px 25px;
    }
    
    .cosasFooter {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 150px 150px;
        
    }


    .footerAuspiciantes {
        width: 100%;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .footerAuspiciantesTit {
        font-size: 16px;
    }
    .logosRobados {
        width: 27px;
        height: 27px;
    }

    .footerRedes {
        width: 100%;
        height: 150px;
    }

    .footerRedes ul li a img {
        width: 23px;
        height: 23px;
    }
    .footerContactos {
        font-size: 20px;
        text-transform: lowercase;
    }

    .copyright {
        font-size: 7px;
    }

    /* PÁGINA INDEX */ 

    .titulos {
        height: 100px;
    }
    .imagenIndex .titulos {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position: absolute;
        bottom: 40%;
        right: 22%;
        
    }
    
    .imagenIndex .titulos h2 {
        gap: 1rem;
        font-size: 20px;
        position: relative;
        left: 0%;
    }

    .quienesSomos h1 {
        font-size: 25px;
    }

    .quienesSomos p {
        font-size: 21px;
    }

    .atajoProductos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .atajoProductos div a img {
        width: 250px;
        height: 250px;
    }

    .atajoProductos div h2 {
        font-size: 20px;
    }
    .verMasProductos button {
        width: 240px;
        height: 35px;
        margin-top: 40px;
        font-size: 14px;
        text-transform: uppercase;
    }
    .yutu {
        height: 300px;
    }
    /* FIN PAGINA INDEX */


    /* PAGINA HISTORIA */

    .imagenHistoria h1 {
        font-size: 17px;
        width: 450px;
        height: 30px;
        position: absolute;
        left: 5%;
    }

    .contenidoHistoria  article {
        width: 80%;
        height: 800px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        
    }

    .contenidoHistoria article .Parr1  {
        height: 310px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
    }
    .Parr1 p {
        display: inline-block;
        font-size: 15px;
    }
    .contenidoHistoria article .Parr2 {
        height: 130px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .contenidoHistoria article .Parr2 h2 {
        
        font-size: 19px;
    }

    .contenidoHistoria article .Parr2 p {
        font-size: 15px;
    }
    .contenidoHistoria article .Parr3 {
        height: 405px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .contenidoHistoria article .Parr3 h2 {
        display: inline-block;
        font-size: 19px;
    }

    .Parr3 p {
        display: inline-block;
        font-size: 15px;
    }

    .contenidoHistoria section {
        margin-top: 30px;
    }

    .contenidoHistoria section button {
        width: 140px;
        height: 25px;        
        font-size: 14px;
        text-transform: uppercase;
    }
    .contenidoHistoria section h3 {
        font-size: 19px;
    }

    .contenidoHistoria section form label {
        font-size: 15px;
    }

    .contenidoHistoria section form textarea {
        width: 240px;
    }

    /* PAGINA PRODUCTOS */

    .contenidoProductos {
        margin-left: 0%;
        margin-top: 0%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contenidoProductos div {
        height: 370px;
    }

    .contenidoProductos div img {
        width: 250px;
        height: 250px;
    }

    /*FIN PÁGINA PRODUCTOS */


    /* PAGINAS HIERBAS */

    .contenidoHierbas {
        width: 80%;
        height: 1100px;
        margin-left: 6%;
    }

    .contenidoHierbas div p {
        font-size: 15px;
    } 

    .contenidoHierbas div h2 {
        font-size: 19px;
    }
    .contenidoHierbas div ul li {
        font-size: 15px;
    }
    .contenidoHierbas div ol li {
        font-size: 15px;
    }
    .contenidoHierbas section button {
        width: 140px;
        height: 25px;        
        font-size: 14px;
    }

    .contenidoHierbas section h3 {
        font-size: 19px;
    }

    .contenidoHierbas section form label {
        font-size: 15px;
    }

    .contenidoHierbas section form textarea {
        width: 240px;
    }
    
    /* FIN PAGINA HIERBAS */


    /* PAGINA CONTACTOS */

    .recuadritoBlanco {
        width: 380px;
        height: 450px;
               
    }

    .titulosContactos h1 {
        font-size: 18px;
    }
    .titulosContactos h2 {
        font-size: 16px;
    }

    .recuadritoBlanco div form label {
        font-size: 12px;
    }

    .recuadritoBlanco button {
        width: 140px;
        height: 25px;        
        font-size: 14px;
        margin-left: 29%;
    }

    /* FIN PAGINA CONTACTO */

    /* FIN CSS */
}