.imagenProductos {
    @include imgPrincipal (url(../imágenes/mate-paisaje.jpg));

    h1 {
        width: 300px;
        height: 40px;
        background-color: rgba(201, 211, 197, 0.849);
        text-transform: uppercase;
        color: black;
        text-align: center; 
        border-style: solid;
        border-color: bisque;
        padding-top: 5px;  
    }
}

.contenidoProductos {
    width: 90%;
    margin-left: 9%;
    margin-top: 5%;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: 300px 300px;
    gap: 3rem;

    .prod1 {
        width: 310px;
        height: 290px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-family: 'Alumni Sans Inline One', cursive;
        font-family: 'Josefin Sans', sans-serif;
    }

    .prod2, .prod3, .prod4, .prod5, .prod6 {
        @extend .prod1
    }        
        div img {
            border-style:double;
            border-color: green;
        }

        div button {
            width: 135px;
            height: 25px;

            a {
                text-decoration: none;
            }
        }
    
}
